# DATABASE
DATABASE_URL=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Redis
REDIS_URL=
REDIS_MAX_CONNECTIONS=

# Rate Limit
# Login
RATE_LIMIT_LOGIN_IP=
RATE_LIMIT_LOGIN_IP_WINDOW=

RATE_LIMIT_LOGIN_ACCOUNT=
RATE_LIMIT_LOGIN_ACCOUNT_WINDOW=

# Register
RATE_LIMIT_REGISTER_IP=
RATE_LIMIT_REGISTER_IP_WINDOW=

# Refresh
RATE_LIMIT_REFRESH_IP=
RATE_LIMIT_REFRESH_IP_WINDOW=

# Redis failure policy
RL_FAIL_MODE=
USE_TRUSTED_PROXY=


# OTHER
ENVIRONMENT=development
DEBUG=true
